#product_section{
    background:white;
}
#product_section>.container{
    display:flex;
    flex-direction:column;
    align-items:center;
    
}
.step_number{
    font-size:2rem;
    color:var(--secondary-color);
    font-weight:bold;
    display:inline-block;
    margin :0;
    width:2.5rem;
    height:2.5rem;
}

#product_section>.container > h2{
    font-size:1.2rem;
    margin:1rem 0;
    text-align: center;

}

#product_section .section_footer{
    margin-top:50px; margin-bottom:20px; padding: 10px 20px;
    font-size:1.1rem;

}
#product_section .section_footer span{
    margin-left: 10px; 
    color: #5361FC;
}

@media (min-width: 29rem) {/*sm*/ 
    #product_section>.container > h2{
        font-size:2rem;  
        font-weight: 700;
        font-family: Inter;
        color: #02303B;
    }
}


@media (min-width: 36rem) {/*sm*/ 
    
}
@media (min-width: 48rem) {/*md*/
   
}
@media (min-width: 62rem) {/*lg*/
   
}
@media (min-width: 75rem) {/*xl*/
    
}
@media (min-width: 87.5rem) {/*xxl*/
  
}
